body {
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #00ffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button:hover {
    background: #00ccaa;
}
